// Asset created by Aptugo
@import 'variables.module.scss';
@import 'mixins.module.scss';

.topbar,
.reducedTopbar {
  position: sticky;
  top: 0px;
  left: 0;
  height: 5rem;
  transition: height 0.7s ease-in-out;
  background-color: $white;
  padding: 0 clamp(1.75rem, 0.344rem + 6.25vw, 6.25rem);
  margin: 0;
  overflow: hidden;
  z-index: 998;

  @media (max-width: 899px) {
    padding: 0 0.75rem;
  }

  .container {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .divLogo {
      transition: height 0.9s ease-in-out;
      width: clamp(12rem, 10.121rem + 9.4vw, 19rem);
      height: clamp(1.65rem, 1.288rem + 1.81vw, 3rem);

      picture {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .topbarButtons {
      display: flex;
      gap: clamp(0.625rem, -1.746rem + 3.83vw, 1.875rem);
      align-items: center;

      @media (max-width: 899px) {
        display: none;
      }

      h4 {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 130%;
        color: $fountain-dark;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .hamburgerMenu {
      display: none;
      cursor: pointer;

      @media (max-width: 899px) {
        display: flex;
        align-items: center;
      }

      svg {
        width: auto;
        height: 26.43px;
        color: $fountain-dark;
      }
    }

    .fullscreenMenu {
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: auto;
      background: $white;
      padding: 45px 12px 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px -8px 40px 13px;
      z-index: 9998;

      &::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 34px;
        border-width: 0 15px 20px 15px;
        border-style: solid;
        border-color: transparent transparent $white transparent;
      }

      .menuHeader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        align-items: center;

        .divLogo {
          width: clamp(9rem, 8.063rem + 4.17vw, 12rem);
          height: clamp(1.419rem, 1.272rem + 0.65vw, 1.887rem);

          picture {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .topbarButtons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 12px;
        gap: 2.188rem;

        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}

.reducedTopbar {
  height: 2.5rem;
  .container {
    .divLogo {
      height: 1.65rem;
    }
  }
}

.footer {
  background: $bone-white;
  padding: 60px 0;

  & > div {
    @include flex-config(column, 36px, center, center);
    background: $bone-white;
    width: 100% !important;

    .footerLinks {
      @include flex-config(row, 20px, center, center, wrap);

      @media (max-width: 920px) {
        @include flex-config(column);

        [title='First Row'] {
          flex-direction: column;
        }

        [title='Second Row'] {
          flex-direction: column;
        }

        [title='Third Row'] {
          flex-direction: column;
        }
      }

      & > div {
        @include flex-config(row, 30px, center, center);
      }

      a p {
        @include font-config(17px, 400, 21px, $blue, null, center);
      }
    }

    h4 {
      @include font-config(17px, 400, 21px, $blue, null, center);
    }
  }

  & .containerFooter {
    width: 100% !important;
    max-width: unset;
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    color: var(--Neutro-Gris-dark, #454545);

    img {
      width: 192px;
      height: 141.346px;
    }

    & .footerLinks {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      align-self: stretch;
      text-align: center;
      font-family: Sarabun;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;

      & a p {
        color: var(--Neutro-Gris-dark, #454545);
        margin: 2rem;
        text-transform: uppercase;
      }
    }

    & .rrssFooter {
      @include flex-config(null, 2rem);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      margin: 0 auto;

      & .redes {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          align-items: center;
        }

        a img {
          width: 24px;
          height: 24px;
          margin: 0 1.5rem;
          color: var(--Neutro-Gris-dark, #454545);
        }
      }
    }

    & .legals {
      width: 100%;
      background-color: $Primario-Fountain-light;
      display: flex;
      padding: 1rem 0rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      align-self: stretch;

      & p {
        color: var(--Neutro-Gris-dark, #454545);
        text-align: center;
        font-family: $Sarabun;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }
    }

    & .reserved {
      width: 100vw;
      h4 {
        color: var(--Neutro-Gris-dark, #454545);
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.contactanos {
  background: var(--Gradient-Petrol-to-Fountain-Diag, linear-gradient(267deg, #058081 16.21%, #00687b 90.74%));
  padding: 60px 0;

  & > div {
    @include flex-config(row, 30px, center, center);

    h4 {
      @include font-config($font-color: $white);
    }

    button {
      display: flex;
      width: 12rem;
      padding: 0.625rem 1rem 0.625rem 0.5rem;
      align-items: center;
      gap: 2rem;
      border-radius: 0.5rem;
      background: $white;
      @include font-config(1rem, 600, 130%, $fountain-dark, uppercase, center);

      &:hover {
        background: $Fountain;
        color: $white;
      }
    }
  }
}

@media (max-width: 920px) {
  .footer > div .footerLinks {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px;

    & .firstRow {
      @include flex-config(column);
    }

    & .secondRowFooter {
      @include flex-config(column);
    }

    a p {
      margin: 0.5rem !important;
    }
  }

  [title='First Row'],
  [title='Second Row'] {
    @include flex-config(column, null, null, null, wrap);
  }
}

@media (max-width: 768px) {
  .contactanos > div {
    text-align: center;
    flex-direction: column;
  }
}
